body {
    background-color: #AAA;
    color:  #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#container {
    /*background-color: #BBF; */
    display: grid;
    grid-template-rows: 4em 1.5em 1.5em auto 5em;

    justify-items: center;
}

#rules {
    text-align: center;
    font-weight: bold;
}

#newGameButton {
    border-radius: 3px;
}

#gameArea {
    /*background-color: #FFF;*/
    width: 90%;
    color:#FFF;
    
    display: grid;
    grid-template-columns: 50% 50%;
	margin-top: 10px;
    
    column-gap: 15px;
}

#humanBox {
    background-color: #533;
    display: grid;

    border-radius: 5px;
    border-style: solid;

    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
   
    column-gap: 10px;
    row-gap: 15px;

    grid-template-areas:
    "playerLabel playerLabel score"
    "rock paper scissors";
}

#playerLabel {
    grid-area: playerLabel;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#pScoreBox {
    grid-area: score;
    text-align: center;
    font-weight: bold;
}
#playerRock {
    grid-area: rock;
}
#playerPaper {
    grid-area: paper;
}
#playerScissors {
    grid-area: scissors;
}

.playerButtons {
    border-radius: 5px;
    margin: 10%;
    background-color: #FFF;
}

#computerBox {
    background-color: #533;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    
   
    border-radius: 5px;
    border-style: solid;

    column-gap: 20px;
    row-gap: 15px;

    grid-template-areas: 
    "computerLabel computerLabel score"
    "rock paper scissors";
}

#CPULabel {
    grid-area: computerLabel;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#cScoreBox {
    grid-area: score;
    text-align: center;
    font-weight: bold;
}
#computerRock {
    grid-area: rock;
}
#computerPaper {
    grid-area: paper;
}
#computerScissors {
    grid-area: scissors;
}

.compButtons {
    border-radius: 5px;
    margin: 10%;
    background-color: #FFF;
    
}

/*This allows the \n character to work properly in the html*/
#gameResults {
    white-space: pre-wrap;
    font-weight: bold;
}

.playerButtons:hover {
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    color: #000;

    background-color: #BBB;
}

.computerSelection{
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    color: #000;
    border-radius: 5px;
    margin: 10%;
    background-color: #BBB;
}