#container {
    /*background-color: #BBF; */
    display: grid;
    grid-template-rows: 4em 1.5em 1.5em 10em 5em;

    justify-items: center;
}

#rules {
    text-align: center;
    font-weight: bold;
}

#gameArea {
    background-color: #7C8;
    width: 90%;
    
    display: grid;
    grid-template-columns: 50% 50%;
	margin-top: 10px;
    
    column-gap: 20px;
}

#humanBox {
    background-color: #FBB;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
   
    column-gap: 20px;
    row-gap: 15px;

    grid-template-areas:
    "playerLabel playerLabel score"
    "rock paper scissors";
}

#playerLabel {
    grid-area: playerLabel;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#pScoreBox {
    grid-area: score;
    text-align: center;
    font-weight: bold;
}
#playerRock {
    grid-area: rock;
}
#playerPaper {
    grid-area: paper;
}
#playerScissors {
    grid-area: scissors;
}

.playerButtons {
    border-radius: 5px;
}

#computerBox {
    background-color: #BFB;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
   

    column-gap: 20px;
    row-gap: 15px;

    grid-template-areas: 
    "computerLabel computerLabel score"
    "rock paper scissors";
}

#CPULabel {
    grid-area: computerLabel;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#cScoreBox {
    grid-area: score;
    text-align: center;
    font-weight: bold;
}
#computerRock {
    grid-area: rock;
}
#computerPaper {
    grid-area: paper;
}
#computerScissors {
    grid-area: scissors;
}

.compButtons {
    border-radius: 5px;
}

/*This allows the \n character to work properly in the html*/
#gameResults {
    white-space: pre-wrap;
}

.playerButtons:hover {
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    color: #000;

    background-color: #DDD;
}

.computerSelection{
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    color: #000;
    border-radius : 5px;
    background-color: #DDD;
}